* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background: rgb(192, 176, 176);
}
.clearfix {
  clear: both;
}

.resume-box {
  width: 800px;
  height: 1000px;
  margin: 70px auto;
  background: white;
  box-shadow: 5px 21px 20px 20px rgb(168, 155, 155);
}

.left-section {
  background: rgb(144, 144, 230);
  width: 250px;
  height: 1000px;
  float: left;
}

.profile {
  overflow: hidden;
  position: relative;
}

.blue-box {
  width: 257px;
  height: 407px;
  background: rgb(88, 88, 187);
  margin-left: -100px;
  transform: rotateZ(48deg);
  margin-top: -178px;
}

.profile-img {
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 3px solid rgb(156, 142, 142);
}

.name {
  color: rgb(240, 243, 235);
  text-align: center;
  margin-top: -34px;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-family:Impact;
}
.name span {
  color: white;
}
.n-p {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid rgb(156, 142, 142);
  border-top: 1px solid rgb(156, 142, 142);
  color: rgb(65, 62, 62);
  background: white;
  margin-top: 11px;
  text-transform: uppercase;
}

.heading {
  width: 230px;
  margin-left: 20px;
  padding: 5px;
  padding-left: 15px;
  border-bottom: 1px solid rgb(156, 142, 142);
  border-top: 1px solid rgb(156, 142, 142);
  color: rgb(79, 79, 170);
  background: white;
  margin-top: 11px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px 0px 0px 10px;
}
.p1 {
  color: rgb(248, 229, 229);
  width: 184px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 15px;
  line-height: 14px;
}
.p1 span {
  font-size: 12px;
}
.span1 img {
  background: white;
  width: 30px;
  padding: 6px;
  border-radius: 16px;
  float: left;
  margin-right: 10px;
}
.right-section {
  padding: 40px 30px;
  background: white;
  width: 68%;
  float: left;
  height: 1000px;
}
.right-heading img {
  background: rgb(144, 144, 218);
  width: 36px;
  padding: 7px;
  border-radius: 17px;
  float: left;
  margin-top: -2px;
  margin-left: 20px;
}
.left {
  width: 25%;
  float: left;
}
.right {
  width: 75%;
  float: left;
}
.lr-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.s-box {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 0px;
}

.hobby-img {
  margin-top: 25px;
  width: 45px;
  margin-right: 45px;
}

.p2 {
  margin: 0 auto;
  padding: 6px;
  border-bottom: 1px solid rgb(156, 142, 142);
  border-top: 1px solid rgb(156, 142, 142);
  color: white;
  background: rgb(144, 144, 218);
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  margin-left: 20px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 20px;
  border-radius: 20px;
}
.p3 {
  margin-top: 20px;
  color: rgb(156, 142, 142);
  text-align: justify;
  word-spacing: -4px;
}

.p4 {
  font-size: 14px;
  font-weight: 600;
}

.p5 {
  font-size: 12px;
  color: rgb(156, 142, 142);
}

.p6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p7{
  display: inline;
}


.line{
  background: black;
  border-radius: 13px;
  height: 8px;
  width: 100%;
}

.line::after{
  content: "";
  display: block;
  background: rgb(144, 144, 218);
  animation: animate 1 4s;
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.line1::after{
  max-width: 60%;
}
.line2::after{
  max-width: 40%;
}
.line3::after{
  max-width: 70%;
}
.line4::after{
  max-width: 80%;
}

@keyframes animate{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}